body {
  background-color: black;
}

h1 {
  color: rgb(255, 0, 188);
  font-size: 32px;
  font-family: "papyrus", fantasy;
  text-align: center;
  background-color: rgb(50, 29, 59);
}

.text {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
}
